<!DOCTYPE html>
<html lang="en">
<!-- HEAD PARTIAL -->
<%- include('../partials/head.ejs') %>

    <!-- END OF HEAD PARTIAL -->

    <body>
        <!-- NAV PARTIAL -->
        <%- include('../partials/nav.ejs') %>

            <!-- END OF NAV PARTIAL -->

            <div class="content">
                <h2 class="title">All blogs</h2>

                <!-- vodi racuna kako si postavio pipe  <% %> <%    %> -->
                <% if(blogs.length > 0){%>
                    <% blogs.map((blog)=>{ %>
                        <div class="blogs">
                            <h2 class="subtitle">
                                <%=blog.title %>
                            </h2>
                            <p class="snippet">
                                <%= blog.snippet %>
                            </p>
                        </div>
                        <% }) %>
                            <% } else{ %>
                                <p>sorry, no blogs to display</p>
                                <% } %>
            </div>
            <!-- FOOTER PARTIAL -->
            <%- include('../partials/footer.ejs') %>

                <!-- END OF FOOTER PARTIAL -->
    </body>

</html>